@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  transform: translateZ(0);
}

.curvy-nav {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 50% 96%, 20% 100%, 0 90%);
}

/* styles.css */

.hr {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #dcdcc6;
  box-sizing: border-box;
  margin: 0px 25px;
}

.button-color {
  background: linear-gradient(45deg,#ffd5b3, #fdba74 35%);
}